body {
    color: aqua;
    background-color: deeppink;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
h1 {
    text-align: center;
    color: forestgreen;
    font-size: 36px;
}
.a {
    list-style-type: circle;
    background: gold;
    padding: 20px;
}

.b {
    list-style-type: square;
    background: greenyellow;
    padding: 20px;
}

ul li {
    margin-left: 35px;
    padding: 5px;
    
}



