body {
    color: aqua;
    background-color: deeppink;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1 {
    color: forestgreen;
    font-size: 36px;
    
}